

.vendorCard {
    border-width: 1px ;
    padding: 20px;
    border-radius: 20px;
    background-color: #f2f2f2 ;
    border-color: #dadada;
    cursor: pointer;
}

.store_image{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border-width: 1px;
    border-color: #f2f2f2;
}

.vendor_info{
    align-items: center;
    display: flex;
}

.profile_image{
    border-width: 1px;
    width: 100%;
    border-color: black;
    height: 320px;
    background-size: contain;
}

.product_variety{
    border: 1px solid #dadada ;
    padding: 25px;
    border-radius: 20px;
    height: 260px;
}
.product_card{
    padding: 20px 10px;
    border: 1px solid #dadada ;
    border-radius: 20px;
}

.product_veg_symbol{
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: green;
}

.veg_symbol_container{
    height: 20px ;
    width: 20px;
    border: 3px solid green;
    justify-content: center;
    align-items: center;
    display: flex;
}

.add_button{
    background-color: transparent;
    border: 1px solid #d18b2e;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    color: #d18b2e;
    outline: none;
}
